<div id="<%= dom_id person %>">
  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    Plants:
    <%= person.plants.each do |plant| %>
    <%= plant.name %>
    <% end %>
  </p>
</div>
